.hotnews {
  &__tab {
    //background-image: url(../images/news/back-news.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
    justify-content: center;
    margin-top: 0;
    border-bottom: none;

    .nav-link {
      border: none;
      color: color("black");
      line-height: 24px;
      font-size: 0.5 * $font-size-larger;
      @include transition-all($time: 0.2s);

      &:hover {
        font-size: 2 * $font-size-small;
      }

      &.active {
        background-color: transparent;
        color: color("secondary");
        font-size: 2 * $font-size-small;
        border: none;
      }
    }
  }

  &__content {
    padding: spacing(2) spacing(0) spacing(0);

    .col-12,
    .col-sm-12,
    .col-sm-4 {
      margin-bottom: spacing(2);
    }
  }

  &__item {
    overflow: hidden;

    &__img {

      a {
        display: block;
        width: 100%;

      }

      img {
        width: 100%;
        border-radius: 4px;
      }
    }

    &__content {
      a {
        display: block;
        color: color("black");
        @include transition-all($time: 0.2s);

        &:hover {
          color: color("primary");
        }
      }

      .news-title {
        color: color("black");
        overflow: hidden;
        font-size: 16px;
        height: 42px;
        line-height: 20px;
        margin: spacing(1) 0 spacing(0.5);

        font-weight: $font-weight-bolder;
        @include transition-all($time: 0.2s);

        &:hover {
          color: color("primary");
        }
      }

      .news-description {
        color: color('blackgray');
        font-size: $font-size-small;
        text-align: justify;
        padding: 0 spacing(0.5) 0 0;
        margin-bottom: spacing(1.5);
        height: 42px;
      }
    }
  }

  &__item__list {
    height: 50px;
    width: 100%;
    position: relative;

    .hotnews__item {
      &__img {
        @include pos-absolute(0, 0);
        width: 50px;
        height: 50px;

        a {
          display: block;
          width: 100%;
          height: auto;

          img {
            width: 100%;
          }
        }
      }

      &__content {
        margin-left: 60px;
      }
    }
  }
  &__viewmore {
    margin-bottom: spacing(3.5);
    text-align: center;
  
    .btn-default {
      background-color: color('transparent');
      color: color('lightgray');
      border: 1px solid color('lightgray');
      &:hover {
        background-color: color('primary');
        color: color('white');
        border-color: color('primary');
      }
    }
  }
}