$colors: () !default;
$colors: map-merge(
    (
    "primary": #fb4226,
    "secondary" : #fa5238,
    "green": #7ed321,
    "darkgreen": #108f3e,
    "blue": #17a2b8,
    "yellow": #ffc107,
    "darkblue": #0a2029,
    "lightgray": #9b9b9b,
    "blackgray": #4a4a4a,
    "darkgray": #222,
    "darkgrey": #333,
    "black": #000,
    "whitegray": #e9e9e9,
    "lightwhite": #f6f6f6,
    "white": #fff,
    "transparent": transparent
    ),
    $colors
);

$font-sf: 'SF Text Regular';
$font-sfm: 'SF Medium';
$font-size-base: 14px !default;
$font-size-normal: 16px !default;
$font-size-small: 12px !default;
$font-size-larger: 42px !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$spacing: 10px;